* {
    margin: 3px;;
    padding: 0;
}
 p {
    font-size: 14px;
 }
h1  { 
    text-align: center;
    color: burlywood;
    background-color:  rgb(73, 119, 189);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 { 
    color: rgb(30, 13, 107);
    background-color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body { 
    background-image:url("image/Mountain.jpg");
    background-size: 100%;}
    
.parent {
    display:flex;

    /*  Background: url: lets you set a copied image  as a background by pasting the url */
    /* background repeat prevents an image from repeating itself if it does not fit repeat:no repeat; */
}

.list {
    flex:3;
    
}

.form {
    flex:1;
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 10px;
    height: 75%;
}
/* Display Block forces a tag to take the entire width, and pushes everything else under it  */
.my-control {
    display: flex;
    margin-bottom: 10px;
    padding:5px;
}
.my-control label {
    width:110px;
    text-align: right; 
    margin-right:5px;
}

.my-control input,
.my-control select,
.my-control textarea {
    flex-grow: 1;
}
.centered {
    text-align: center;
}
.icon { 
    font-size: 24px;
    color: rgb(135, 141, 222);
    /* cursor turns your mouse into the pointing hand */
     cursor:pointer;  
}
#task-list { 
    display:grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 1rem;
    row-gap: 1rem;
}
.task {
    background-color: rgba(240, 248, 255, 0.966);
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: solid 2px;
    margin:auto;
}

